@charset "utf-8";
/* CSS Document */
*{ padding:0; margin:0}
body{ font:12px "宋体"}
ul,li{ list-style:none}
a{ text-decoration:none; color:#999; }
.clearfix:fix{ content:"."; height:0; display:block; clear:both; visibility:hidden }
.clearfix{*zoom:1}


.header{ height:40px; background:#DCDFE7; border-bottom:#666 solid 1px; min-width:1000px}
.header h1{ font-size:12px; font-weight:normal; line-height:40px; width:1000px; margin:0 auto}
.wrapper{ width:1000px; margin:0 auto}
.logo{ width:201px; height:88px; float:left}
.navbar{ width:790px; float:right}
.navbar li{ display:inline-block; line-height:88px; padding:0 10px}
.navbar li a{ padding:0 25px; display:block; font-size:14px; font-family:"微软雅黑"}




